*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #000109;
    color: #fff;
}
nav {
    display: flex;
    padding: 3% 6%;
    align-items: center;
    justify-content: space-between;
}
.list {
    flex: 1;
    text-align: right;
}
.list ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.list ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.list ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: #f96a04;
    transition: 0.5s;
    cursor: pointer;
}
.list ul li:hover::after {
    width: 100%;
}

.logo {
    font-size: 2.5em;
}
.logo span {
    color: #f96a04;
    font-weight: 700;
}
.color span {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--clr);
    border-radius: 50%;
    top: 30px;
}

.text {
    padding: 80px 80px;
}
.text h1{
    font-size: 70px;
}
.text p {
    max-width: 50%;
    padding: 10px 0;
}
.text span {
    color: #f96a04;
}
.text a {
    display: inline-block;
    background: #f96a04;
    color: #fff;
    padding: 15px 35px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 50px;
    font-size: 20px;
}
.IMG {
    position: absolute;
    right: 440px;
    top: 10%;
}
.IMG img {
    width: 150%;
    transition: 1;
}
